@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }

    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
input:focus{
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
input{transition: 0.4s ease-in-out;}
  }