#input-container{
   
  width: 400px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 10px;
  margin-top: 5%;
 transform: scale(0.8);
}
#input-container>img{
    
    transform: scale(0.4);
  
    
}
#input-container>input{
  
 margin-top: 0px;
 border: none;
 outline: none;
 font-size: 24px;
 
    
}
.ranger{
  width:20%;
  padding-top: 20px;
}
